/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --accent-content-color: #ff0070;
  --nav-text-color: #ff0070;
  --hover-accent-color: #ff007080;
  --active-accent-color: #ff0070;
  --focus-accent-color: #ff0070;
  --title-color: #db00ff;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --article-title-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --corner-color: #ff0070;
  --font-family: "IBM Plex Mono", sans-serif;
  --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title-pc: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-text-universal: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}
